# Core Assignment 1 - Sakila Queries

- Name: Tyler Schelling
    
- Date: 12/13/2022
    
## Assignment

- Create a new repository and notebook for this assignment.
- Using the Sakila database, complete the below queries with Python in your Jupyter Notebook.
    - You can use MySQL Workbench to test your queries and then copy and paste them into your notebook to perform with Pandas and SQLAlchemy.

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

## Create the Engine

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root"
db_name = "sakila-data"
connection = f"mysql+pymysql://{username}:{password}@localhost:8888/{db_name}"

In [3]:
# Create the engine
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost:8888/sakila-data)

## Queries

1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [ ]:
q = """SELECT customer.first_name, customer.last_name, 
	customer.email, address.address, address.address2, city.city
FROM city
JOIN address ON city.city_id = address.city_id
JOIN customer ON address.address_id = customer.address_id
WHERE city.city_id = 312;"""
pd.read_sql(q, engine)